- content_for :page_title do
  = 'Web Authentication'

- if current_user.webauthn_required_for_login?
  %p.hint
    %span.positive-hint
      = fa_icon 'check'
      = ' '
      = t 'webauthn_credentials.enabled'

  %hr.spacer/

  .table-wrapper
    %table.table
      %thead
        %tr
          %th= t 'webauthn_credentials.nickname'
          %th= t 'webauthn_credentials.last_used'
          %th
      %tbody
        - @webauthn_credentials.each do |credential|
          %tr
            %td= credential.nickname
            %td= credential.last_used_on ? l(credential.last_used_on) : t('webauthn_credentials.not_used')
            %td
              = table_link_to 'times', t('webauthn_credentials.delete'), settings_webauthn_credential_path(credential), method: :delete, data: { confirm: t('webauthn_credentials.delete_confirmation') }

- else
  %p.hint= t('webauthn_credentials.description_html')

%hr.spacer/

= simple_form_for(:new_webauthn_credential, url: options_settings_webauthn_credentials_path, method: :post, html: { id: :new_webauthn_credential }) do |f|
  .fields_group
    = f.input :nickname, wrapper: :with_block_label, hint: t('webauthn_credentials.nickname_hint'), input_html: { :autocomplete => 'off' }, required: true

  .actions
    = f.button :button, t('webauthn_credentials.add'), type: :submit

= javascript_pack_tag 'webauthn_registration', integrity: true, crossorigin: 'anonymous'
