- content_for :page_title do
  = 'Web Authentication'

- if current_user.webauthn_required_for_login?
  %p.hint
    %span.positive-hint
      = fa_icon 'check'
      = ' '
      = 'WebAuthn is enabled'

  %hr.spacer/

  .table-wrapper
    %table.table
      %thead
        %tr
          %th= 'Nickname'
          %th= 'Last used'
          %th
      %tbody
        - @webauthn_credentials.each do |credential|
          %tr
            %td= credential.nickname
            %td= credential.last_used_on ? l(credential.last_used_on) : 'Never'
            %td
              = table_link_to 'times', "Delete", settings_webauthn_credential_path(credential), method: :delete, data: { confirm: "Are you sure you want to delete this security key?"}

- else
  %p.hint= 'If you enable webauthn, logging in will require you to use one of your security keys.'

%hr.spacer/

= simple_form_for(:new_webauthn_credential, url: options_settings_webauthn_credentials_path, method: :post, html: { id: :new_webauthn_credential }) do |f|
  .fields_group
    = f.input :nickname, wrapper: :with_block_label, hint: "Enter the name of your new security key", label: "Nickname", input_html: { :autocomplete => 'off' }, required: true

  .actions
    = f.button :button, "Add security key", type: :submit

= javascript_pack_tag 'webauthn_registration', integrity: true, crossorigin: 'anonymous'
